body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ff5a5f;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin: 50px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-section {
    width: 100%;
    margin-bottom: 20px;
}

#search-input {
    width: 100%;
    padding: 15px 0 15px 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.files-section {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

h2 {
    color: #ff5a5f;
}

/* Estilo de los archivos en la lista */
ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.download-link {
    color: #ff5a5f;
    text-decoration: none;
}

.download-link:hover {
    text-decoration: underline;
}
